

/*
    Basic CSS defaults that might be used in resets.
*/
@import "color";
@import "font";


/*
    Resets
*/
html {
    font: {
        size: 10px;
    }
}

body {
    margin: 0;
}

button {
    & > span:focus{
        outline: none;
    }
    background: $app-background-color;
    border: 0;
    font: {
        family: inherit;
        size: inherit;
    }
    padding: 0;
}

menu, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: block; // Default is "list-item" which changes the size of the text.
}


/*
    Application constants (SASS variables).
*/
$application-max-width: 1000px;


/*
    Import app specific files...
*/
@import "control";
@import "menu";


#react-root {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#routes-menu-transition {
    display: block;
    left:0;
    position: absolute;
    top: $control-height;
}

.application {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    max-width: $application-max-width;
    overflow: hidden;
    position: relative;
}

.application > :nth-child(1n+0) {
    flex: 0;
}

.application > .header {
    display: flex;
    flex: 0 1 auto;
}

.application > .content {
    flex: 1;
}
